{{define "main"}}
<!DOCTYPE html>
<html>
	<head>
		<title>CrowdConfig</title>
		<style type="text/css">
			.error {
				color: #E00000;
				font-weight: bold;
			}
			.warning {
				color: #E0A000;
				font-weight: bold;
			}
			.ok {
				color: #00A000;
				font-weight: bold;
			}
			#issues {
				list-style-type: none;
			}
		</style>
	</head>
	<body>
		<form method="post">
			<label>Cloud-Config<br /><textarea name="config" cols="80" rows="25" autofocus required>{{.Config}}</textarea></label><br />
			<input type="submit" value="Validate Config" />
		</form>
		<ul id="issues">
		{{ range .Report.Entries }}
			{{ if .IsError }}
			<li><span class="error">{{.String}}</span></li>
			{{ else if .IsWarning }}
			<li><span class="warning">{{.String}}</span></li>
			{{ end }}
		{{ else }}
			{{ if .DidValidate }}
			<li><span class="ok">Valid!</span></li>
			{{ end }}
		{{ end }}
		</ul>
	</body>
</html>
{{end}}
